.categories {
    width: 50%;
    padding: 2rem 0 3rem;
    margin: auto;
    cursor: pointer;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-weight: bold;

        &.child {
            margin-left: 1.5rem;
            font-weight: normal;
        }
    }

    a {
        display: flex;
        color: $default-color;
        padding: 0.5rem;

        &:hover {
            background-color: $grey-3;
        }

        i {
            line-height: 1.5rem;
            margin-right: 0.5rem;
        }
    }

    &-post-count {
        @include transition(all 0.3s ease-out);
        font-size: 1rem;

        &:hover,
        &:focus {
            color: $default-color;
        }
        margin-left: auto;
        margin-right: 0 !important;
    }
}
